[submodule "StratifiedGroupKFold_coco"]
	path = StratifiedGroupKFold_coco
	url = https://github.com/JadeKim042386/StratifiedGroupKFold_coco.git
[submodule "mmdetection"]
	path = mmdetection
	url = https://github.com/open-mmlab/mmdetection.git
